{{define "title"}}Edit Gallery{{end}}

{{define "content"}}
<h3>Edit Gallery</h3>

<form action="/gallery/{{ .Gallery.ID }}" method="POST" role="form">

    <input type="hidden" name="Id" id="Id" class="form-control" value="{{ .Gallery.ID }}">

    <div class="form-group">
        <label for="">Gallery Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name" readonly="true" value="{{ .Gallery.Name }}">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Description" value="{{ .Gallery.Description }}">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<h3>Edit Pictures</h3>
{{ range .Photos }}
    <div class="col-sm-1">
        <label>Image<label>
        <img src="/galleryphoto/{{ .ID }}/{{ .FileName }}" width="100%" style="max-height: 60px">
        <label>Thumb</label>
        <img src="/gallerythumb/{{ .ID }}/{{ .FileName }}" width="100%"  style="max-height: 60px">
    </div>
    <div class="col-sm-3">
    <form action="/photo/{{ .ID }}" method="POST" role="form" enctype="multipart/form-data">
        <input type="hidden" name="Id" id="Id{{ .ID }}" class="form-control" value="{{ .ID }}">

        <div class="form-group">
            <label for="name{{ .ID }}">Name</label>
            <input type="text" class="form-control" name="name" id="name{{ .ID }}" placeholder="Name" readonly="true" value="{{ .Name }}">
        </div>

        <div class="form-group">
            <label for="description{{ .ID }}">Description</label>
            <input type="text" class="form-control" name="description" id="description{{ .ID }}" placeholder="Description" value="{{ .Description }}">
        </div>

        <div class="form-group">
            <label for="filename{{ .FileName }}">FileName</label>
            <input type="text" class="form-control" name="filename" id="filename{{ .FileName }}" placeholder="Name" readonly="true" value="{{ .FileName }}">
        </div>

        <div class="form-group">
            <label for="image{{ .ID }}">Image</label>
            <input type="file" class="form-control" name="image" id="image{{ .ID }}" placeholder="Description">
        </div>

        <div class="form-group">
            <label for="thumb{{ .ID }}">Thumb</label>
            <input type="file" class="form-control" name="thumb" id="thumb{{ .ID }}" placeholder="Thumb">
        </div>
    
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>

{{ end }}
{{end}}